*/obj/Debug/TemporaryGeneratedFile*.cs
Ntegrity.Test/Ntegrity.Test.v2.ncrunchproject
*.ncrunchproject
packages/*
*.ncrunchsolution
*/obj/*
*/bin/*
*.suo
*.crunchsolution.cache
*.ncrunchsolution.user
*/_CreateNewNuGetPackage/*