<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="$(SolutionDir)Ntegrity\bin\Debug\Ntegrity.dll" #>
<#@ assembly name="$(SolutionDir)TestTargetAssembly\bin\Debug\Ntegrity.TestTargetAssembly.dll" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="Ntegrity" #>
<#@ import namespace="Ntegrity.TestTargetAssembly" #>
<#@ output extension=".txt" #>
<# 
	var AssemblyInfo = new AssemblyInterfaceData(typeof(PublicClass));
	Write(AssemblyInfo.GenerateHumanReadableInterfaceDefinition(new NtegrityOutputSettings()
		{
		    ShowTypesAtOrAboveAccessLevel = AccessLevelEnum.Public
		}));
 #>